<div class="container">

	{{#if campaign.hasRan}}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h4 class="card-header card-danger">
					Button masher!
				</h4>
				<div class="card-body">
					Whoa there, easy does it. We've already run that campaign. <a href="/results/{{campaignId}}">Click here</a> to view the results.
					<br>
					<small>Spoiler: everybody's a winner!</small>
				</div>
			</div>
		</div>
	</div>

	{{else if usersSubmitted}}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h4 class="card-header card-primary card-inverse" role="tab">
					Ready to run!
				</h4>
				<div class="card-body text-center">
					
					<button class="btn btn-success btn-lg" id="optimizeCampaignButton" onclick="optimizeCampaign(event);" data-campaign-id={{campaignId}}>Launch!</button>
					<br>
					{{usersSubmitted}} users have filled out the form so far. 
					<br>
					If you're still waiting on people, please send them this link: <a href="/campaign/{{campaignId}}">/campaign/{{campaignId}}</a>
				</div>
			</div>
		</div>
	</div>

	{{else if campaign.hasLaunched}}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h4 class="card-header card-danger">
					Nobody loves us!
				</h4>
				<div class="card-body">
					Nobody has filled out the form yet! Remind them via this link: <a href="/campaign/{{campaignId}}">/campaign/{{campaignId}}</a>
				</div>
			</div>
		</div>
	</div>

	{{else if campaign.length}}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h4 class="card-header card-danger">
					Slowpoke!
				</h4>
				<div class="card-body">
					This campaign needs to launch before anybody can see it. Go <a href="/wizard/{{campaignId}}">here</a> to finish some details and launch it.
				</div>
			</div>
		</div>
	</div>

	{{else}}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<h4 class="card-header card-danger">
					Lost in space!
				</h4>
				<div class="card-body">
					Sorry, we can't find this campaign. If you want to create a new one, <a href="/wizard/">click here</a>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Success!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Optimization complete. <a href="/results/{{campaignId}}">Click here</a> for results.
				</div>
				<div class="modal-footer">
					<a href="/results/{{campaignId}}"><button type="button" class="btn btn-primary">Take me there!</button></a>
				</div>
			</div>
		</div>
	</div>
</div>